/* Listings */
.catalogListingCommon {
  --thumb-width: 10rem;
  --thumb-height: 15rem;
}

.catalogListingGrid {
  display: grid;
  grid: auto-flow / repeat(auto-fill, var(--thumb-width));
  gap: 0.75rem;
  justify-content: center;

  margin: 1rem auto;
}

.catalogListingRow {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.catalog404Container {
  text-align: center;
  color: white;
}

.catalog404Highlight {
  margin: 2rem;
  padding: 1rem;
  text-align: left;
  background-color: var(--colorErrorBackground);
}
