.catalogCoverContainer {
  min-width: var(--thumb-width);
  height: var(--thumb-height);
}

.catalogCover {
  position: relative;
  width: var(--thumb-width);
  height: var(--thumb-height);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.catalogCover img {
  width: 100%;
  height: 100%;
}

.catalogCoverCount {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  padding: 0.25em;
  color: white;
  text-shadow: 1pt 1pt 2pt black;
  background-color: rgba(0, 0, 0, 0.5);
}

.catalogCoverCount svg {
  height: 1.2rem;
  width: 1.2rem;
}

.catalogCoverTextBackground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
  box-sizing: border-box;
  padding: 0.5em 0.5em 0 0.5em;
  text-align: left;
  color: white;
  text-shadow: 1pt 1pt 2pt black;
  background: linear-gradient(rgba(0, 0, 0, 0), 33%, rgba(0, 0, 0, 0.8));
}

.catalogCoverText {
  height: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  mask: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0.1) );
}
