.homeCatalogLinker {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 1rem 0;
  background-color: white;
  font-size: 1.5rem;
  text-align: center;
}

.homeCatalogLinker a {
  color: black;
  text-decoration: none;
}

.homeLinkerInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.homeLinkerInfoStats {
  font-size: 75%;
}

.homeLinkerInfoStats.error {
  color: red;
  font-weight: bolder;
}

.homeLinkerInfoStats.loading {
  font-style: italic;
}

.homeLinkerLoad {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.2rem dotted black;
  cursor: pointer;
}
