.homeShowcaseContainer {
  width: 100%;
  margin: 1rem 0;
  overflow: hidden;
}

.homeShowcaseHeader {
  display: flex;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
  background-color: var(--colorPrimary);
}

.homeShowcaseHeaderTitle {
  flex: 1;
}

.homeShowcaseHeaderLink a {
  color: white;
}

.homeShowcaseContainer .catalogListingRow {
  margin: 1rem 2rem;
}

.homeShowcaseLoading {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  padding: 0 2rem;
  font-size: 1.25rem;
  font-style: bolder;
  color: white;
}
