.aboutContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  color: var(--colorBackgroundText);
  background-color: var(--colorBackground);
}

.aboutContainer a {
  color: deepskyblue;
  text-decoration: none;
}

.aboutContent {
  flex: 1;
  padding: 0 2rem;
  overflow-y: auto;
}

.aboutDescription {
  margin: 0;
  padding-top: 2em;
}

.aboutScanDate {
  font-style: italic;
}

.aboutError {
  color: red;
  font-weight: bolder;
}

.aboutLoading {
  font-style: italic;
}

.aboutButtons {
  flex: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;

  display: flex;
  justify-content: flex-end;
}
