.errorBoundaryContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3em;
  color: var(--colorErrorText);
  background-color: var(--colorErrorBackground);
}

.errorBoundaryLink {
  display: inline-block;
  padding: 1em;
  background-color: var(--colorSecondary);
  color: inherit;
}

a.errorBoundaryLink:any-link {
  text-decoration: none;
}
