.errorBoxContainer {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2rem;
  color: var(--colorErrorText);
  background-color: var(--colorErrorBackground);
}

.errorBoxTitle {
  font-size: 1.25rem;
}
