.linkButton {
  box-sizing: border-box;
  margin: 0 2rem;
  padding: 1rem;
  border: none;
  font-family: sans-serif;
  font-size: 2rem;
  color: var(--colorSecondaryText);
  background-color: var(--colorSecondary);
  cursor: pointer;
}
