.loadingScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-size: 2rem;
  color: var(--colorBackgroundText);

  animation: loading_fadein 1s;
}

@keyframes loading_fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
