/* Styling for menus that overlay content */

.overlayMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin: 0;
  padding: 0;
}

.overlayMenu a {
  color: white;
}

/* Icons are removed from flow and placed in padding-left's space. This allows
   the text to align even if missing the svg. */
.overlayMenuItem {
  display: flex;
  align-items: center;
  position: relative;
  height: 4rem;
  padding-left: 4rem;
  font-size: 2rem;
  text-shadow: 2pt 2pt 3pt black;
  cursor: pointer;
}

.overlayMenuItem svg {
  position: absolute;
  left: 0rem;
  height: 100%;
  width: 3rem;
  padding: 0.5rem;
  filter: drop-shadow(2pt 2pt 3pt black);
}

.overlayMenuItem a {
  color: white;
}

/* NOTE: Chrome insists on underlining menu items without this setting. Not a
   problem now, but if links need to be underlined in the future may require
   more CSS tweaking. */
a:any-link {
  text-decoration: none;
}
