.overlaySettingsMenuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.overlaySettingsMenuContainer ul {
    margin-top: 2rem;
    list-style: none;
}

.overlaySettingsMenuContainer li {
    line-height: 3rem;
    font-size: 1.25rem;
}
