.overlayModal {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #0000009f;
  color: white;
  backdrop-filter: blur(0.2rem);
}
