.spinnerBox {
  position: relative;
}

.spinnerThrobberContainer {
  position: absolute;
}

.spinnerThrobber {
  background-color: var(--throbberColor);
}

@keyframes spinner_pulse {
  25% {
    transform: scale(2);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes spinner_fadeout {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
