.toggleContainer {
  --width: 6em;
  --activeColor: white;
  --inactiveColor: grey;

  display: inline-block;
  height: 1.25em;
  vertical-align: middle;

  line-height: 1.25em;
  cursor: pointer;
}

.toggleSliderContainer {

  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: var(--width);
  height: 100%;
  margin-left: 1em;
  padding: 0 0.5em;
  vertical-align: middle;

  background-color: var(--colorSecondary);

  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.toggleLabel {
  display: inline-block;
}

.toggleText {
  position: absolute;
  text-shadow: none;
  /* Text is displayed over slider */
  z-index: 2;
  transition-property: color;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

.toggleOn {
  right: 0.5em;
}

.toggleDisabled .toggleOff {
  color: var(--activeColor);
}

.toggleEnabled .toggleOff {
  color: var(--inactiveColor);
}

.toggleDisabled .toggleOn {
  color: var(--inactiveColor);
}

.toggleEnabled .toggleOn {
  color: var(--activeColor);
}

.toggleSlider {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3em;
  z-index: 1;
  background-color: var(--colorPrimary);
  transition-property: transform;
  transition-duration: inherit;
  transition-timing-function: inherit;
}

.toggleDisabled .toggleSlider {
  transform: translate(0);
}

.toggleEnabled .toggleSlider {
  transform: translate( calc(var(--width) / 2) );
}
