.barNav {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--topbarHeight);
  z-index: 200;
  margin: 0;
  text-align: left;
  color: white;
  background-color: var(--colorHeader);
}

.barNavOverlay {
  position: absolute;
}

.barNavHidden {
  display: none;
}

.barNav svg {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
}

.barNav a {
  color: white;
  text-decoration: none;
}

.barTitle {
  flex: 1;
  margin: 0 1rem;
  font-size: 1.75rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
