html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: sans-serif;
}

/* Default color schemes. May be overridden with custom scheme in-app by
setting these variables on <body>. */
html {
  --colorBackground: #061113;
  --colorBackgroundText: white;
  --colorHeader: #be9063;
  --colorPrimary: #525b56;
  --colorPrimaryText: white;
  --colorSecondary: #a4978e;
  --colorSecondaryText: black;
  --colorErrorBackground: maroon;
  --colorErrorText: white;
}

/* Alternate light theme for heathens */
@media (prefers-color-scheme: light) {
  html {
    --colorBackground: #f2ebe9;
    --colorBackgroundText: black;
    --colorHeader: #3f2a1d;
    --colorPrimary: #8e6248;
    --colorPrimaryText: black;
    --colorSecondary: #8c7462;
    --colorSecondaryText: black;
    --colorErrorBackground: lightcoral;
    --colorErrorText: black;
  }
}

#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Element normalization */
div {
  margin: 0;
  padding: 0;
}

/* SVGs will use text color by default */
body path {
  fill: currentColor;
}

/* Global vars */
body {
  --topbarHeight: 3rem;
  --viewerProgressFullHeight: 2rem;
}
