.toasterSlice {
    --toastHeight: 3rem;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: var(--toastHeight);
    bottom: calc(var(--toastHeight) * -1);

    text-align: center;
    font-size: 1.25rem;
    line-height: var(--toastHeight);

    color: var(--colorPrimaryText);
    background-color: var(--colorPrimary);

    transition: transform 0.25s;
  }

  .toasterSliceVisible {
    transform: translate(0, calc(var(--toastHeight) * -1));
  }
