.bookEndModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 4rem;
  /* Adjust for Topbar */
  height: calc(100% - var(--topbarHeight));
  margin-top: var(--topbarHeight);
}

.bookEndMessage {
  width: 90%;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2pt 2pt 3pt black;
}

.bookEndTitleLink {
  color: inherit;
}

.bookEndTitle {
  font-weight: bold;
}

.bookEndCover {
  flex: 1;
  cursor: pointer;
  max-width: 100%;
  object-fit: contain;
}
