.bookProgress {
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  text-shadow: 2pt 2pt 3pt black;
}

.bookProgressSmall {
  height: 0.25em;
}

.bookProgressBig {
  height: 2rem;
}

.progressBar {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background-color: white;
  opacity: 0.5;
}

.progressBarFill {
  position: absolute;
  height: 100%;
  bottom: 0;
  background-color: darkslategray;
}

.progressContents {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 1em;
  color: white;
  text-shadow: 1pt 1pt 1pt black;
}

.progressClicker {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.progressToggle {
  position: fixed;
  width: 12rem;
  height: 4rem;
  bottom: 2.5rem;
  right: 0;
  text-align: center;
  font-size: 1.25rem;
  color: black;
  background-color: white;
  text-shadow: none;
  cursor: default;
}
