.bookMenu {
  /* Padding for Topbar */
  height: calc(100% - var(--topbarHeight));
  margin-top: var(--topbarHeight);
}

.bookMenuDashboard {
  display: grid;
  /* Grid layout is in media queries below */
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* Menu items */
.bookMenuDashboard .overlayMenu {
  grid-area: menu;
}

.bookMenuCover {
  grid-area: cover;
}

/* Book details */
.bookMenuDetails {
  grid-area: details;
  width: 100%;
  margin: 0;
  padding: 0 2rem;
  text-shadow: 1pt 1pt 2pt black;
  list-style: none;
}

/* Restrict width to content so backdropAction works as expected */
.bookMenuDetails li {
  max-width: max-content;
}

.bookMenuDetails a {
  color: deepskyblue;
}

.bookMenuDetails svg {
  height: 1em;
  filter: drop-shadow(1pt 1pt 2pt black);
}

.bookMenuDetailsTitle {
  font-weight: bold;
}

/* Progress toggle */
.bookMenuProgressToggle {
  grid-area: toggle;
  justify-self: end;
  padding: 0 1rem;
}

/* Full progress display */
.bookModal .bookProgress {
  grid-area: prog;
}

.bookMenuInputHelp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.bookMenuInputHelp table {
  padding: 2rem;
  width: 100%;
  font-size: 1.5rem;
  border-spacing: 1rem 0.5rem;
}

.bookMenuInputHelp th {
  width: 50%;
  text-align: right;
}

.bookMenuInputHelp td {
  width: 50%;
}

/* Screen sizing queries
 ************************/

/* Narrow screen */
@media (orientation: portrait) {
  .bookMenuDashboard {
    grid: "menu   menu"    auto
          "cover  details" 15rem
          "toggle toggle"  2rem
          "prog   prog"    var(--viewerProgressFullHeight)
          / 15rem auto;
  }

  .bookMenuDashboard .overlayMenu {
    padding-top: 2rem;
    justify-self: center;
  }

  .bookMenuCover {
    justify-self: end;
    max-width: 10rem;
    max-height: 15rem;
  }
}

/* Widescreen */
@media (orientation: landscape) {
  .bookMenuDashboard {
    grid: "cover   menu"   auto
          "details menu"   10rem
          "toggle  toggle" 2rem
          "prog   prog"    var(--viewerProgressFullHeight)
          / 50% 50%;
  }

  .bookMenuDashboard .overlayMenu {
    justify-self: left;
    align-self: center;
  }

  .bookMenuCover {
    box-sizing: border-box;
    padding: 1rem;
    justify-self: center;
    align-self: flex-end;
    height: 25rem;
    max-width: 100%;
    object-fit: contain;
  }
}
