.pageOffsetter {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.pageOffsetterAnimated {
  transition-property: transform, visibility;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.pageOffsetPrevious {
  /* Firefox will not render an image until it's inside the visible portion of
     the window. On slower hardware this causes a noticable delay before the
     image can be seen. To correct this, render it barely on the screen and
     hide it until it becomes the current page. */
  visibility: hidden;
  transform: translate(-99.9%);
}

.pageOffsetNext {
  visibility: hidden;
}

.pageImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pageLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--colorBackgroundText);
}
