/* Styling for the BookViewer component tree */

/* Input panels */
.inputOverlayContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  display: grid;
  grid: " menu menu" 1fr
        " prev next" 2fr
        / 1fr  1fr;
  gap: 1rem;

  color: white;
  text-shadow: 0.1em 0.1em 0.1em black;
  font-size: 3rem;

  cursor: default;

  /* Tried transition here, animation works better for this case */
  animation: fadeout 0.75s ease-in 0.5s forwards;
}

.inputOverlayInput {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff7f;
  user-select: none;
}

.inputOverlayMenu {
  grid-area: menu;
}

.inputOverlayPrev {
  grid-area: prev;
}

.inputOverlayNext {
  grid-area: next;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
